.startScreen{
    display: flex;
    width: 500px;
    margin: 0 auto;
    height: 500px;
    background-color: aquamarine;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.card{
    width: 120px;
    height: 90px;
    border-radius: 5px;
    border:1px solid black;
    font-size: 40px;
    color: black;
    text-align: center;
    line-height: 90px;
    background-color: white;
    font-weight: 600;
    margin-bottom: 3rem;
}

.Button{
    width: 80px;
    height: 60px;
    border:1px solid black;
    font-size: 30px;
    color: black;
    text-align: center;
    line-height: 90px;
    background-color: white;
    cursor: pointer;
    line-height: 60px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.startButton:hover{
    background-color: black;
    color: white;

}


// game board

.gameBoard{
    display: flex;
    width: 500px;
    margin: 0 auto;
    height: 500px;
    background-color: aquamarine;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__cards{
        width: 140px;
    }
    &__buttons{
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-around;
    }
    &__button{
        width: 80px;
        height: 60px;
        border:1px solid black;
        font-size: 30px;
        color: black;
        text-align: center;
        line-height: 90px;
        background-color: white;
        cursor: pointer;
        line-height: 60px;
        outline: none;
        border-radius: 5px;
    }

    &__alert{
        width: 200px;
        height: 60px;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        opacity: 0;
        transition: .4s;
        font-size:4rem ;
      }
}

.hide{
    display: none;
    opacity: 0;

}

.switchDifficulty{

display: flex;
flex-direction: row;
margin: 0 auto;
width: 120px;
justify-content: space-between;
&__btn {
    width: 50px;
    height: 50px;
    border:1px solid black;
    font-size: 30px;
    color: black;
    text-align: center;
    line-height: 90px;
    background-color: white;
    cursor: pointer;
    line-height: 50px;
    outline: none;
    border-radius: 5px;
}
}


.currentDiff{
    background-color: black;
    color: white;
}